<p>dashboard works!</p>
<kendo-chart style="width: 300px; height: 200px;"> 
    <kendo-chart-series>
      <kendo-chart-series-item [data]="assetsCount"
        field="count"
        categoryField="type">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
  <hr>
  <kendo-chart style="height: 400px;">
    <kendo-chart-title text="Asset Details" font="15pt sans-serif"></kendo-chart-title>
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
    <kendo-chart-tooltip>
        <ng-template kendoChartSeriesTooltipTemplate let-value="value">
            count : {{ value }}
          </ng-template>
    </kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="pie"
        [data]="assetsCount"
        field="count"
        categoryField="type"
        [labels]="{ visible: true, content: labelContent }"

      >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
