<div class="foot text-white" style="background-color: rgb(116, 114, 114)">
  <br />
  <h3 style="text-align: center">
    ABOUT <span><hr /></span>
  </h3>
  <p>
    With more than {{years}} years of experience in handling multiple technology
    projects across industries, Nitor Infotech has gained strong expertise in
    areas of technology consulting, solutioning, and product engineering. With a
    team of 700+ technology experts, we help leading ISVs and Enterprises with
    modern-day products and top-notch services through our tech-driven approach.
    Digitization being our key strategy, we digitally assess their operational
    capabilities in order to achieve our customer's end- goals.
  </p>
  <hr />
  <p style="text-align: center">
    Assest Mangement &#169; {{ today | date : "yyyy" }}
  </p>
  <br />
</div>
