<div class="footer text-white bg-dark">
  <br />
  <div class="leftbox"><h2>About</h2></div>
  <div class="middlebox">
    With more than {{years}} years of experience in handling multiple technology
    projects across industries, Nitor Infotech has gained strong expertise in
    areas of technology consulting, solutioning, and product engineering. With a
    team of 700+ technology experts, we help leading ISVs and Enterprises with
    modern-day products and top-notch services through our tech-driven approach.
    Digitization being our key strategy, we digitally assess their operational
    capabilities in order to achieve our customer's end- goals.
  </div>
  <div class="rightbox">
    Assest Mangement &#169; {{ today | date : "yyyy" }}
  </div>
</div>
