<!-- <div *ngFor="let item of data">
  <p>{{item.name}}</p>
</div> -->
<div style="text-align: center;">
  <button [routerLink]="['/assets/assets']" routerLinkActive="router-link-active">Show Assets</button>
  <button [routerLink]="['/assets/dashboard']" routerLinkActive="router-link-active">Go To Dashboard</button>
  <div #appendTo class="append-container"></div>
  
</div>
<router-outlet></router-outlet>
<div style="text-align: center;"><h2>User Table</h2></div>

<kendo-grid  [kendoGridBinding]="data"
[pageSize]="5"
[pageable]="true"
[filterable]="true"
[sortable]="true"
[groupable]="true"
[height]="350">
<!-- filterable="menu"> -->
  <kendo-grid-column field="id" title="ID" [width]="150" filter="numeric"></kendo-grid-column>
  <kendo-grid-column field="name" title="Name" [width]="150"></kendo-grid-column>
  <kendo-grid-column field="username" title="UserName" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="email" title="Email" ></kendo-grid-column>
  <kendo-grid-column field="address.city" title="City"></kendo-grid-column>
  <kendo-grid-column field="phone" title="Phone" ></kendo-grid-column>
  <kendo-grid-column field="website" title="Website"></kendo-grid-column>
  <kendo-grid-column field="company.name" title="Company"></kendo-grid-column>
</kendo-grid>


<br/>
<button (click)="show()">Show notification</button>
<div style="text-align: center;"><h2>GridView (CRUD)</h2></div>

<form novalidate #myForm="ngForm">
<kendo-grid 
[navigable]="true"
[kendoGridBinding]="posts"
[height]="550"
[groupable]="true"
[kendoGridTemplateEditing]="createNewProduct"
>
<ng-template kendoGridToolbarTemplate>
  <button kendoGridAddCommand type="button">Add new</button>
</ng-template>
<kendo-grid-column field="id" title="ID">
  <ng-template kendoGridEditTemplate let-dataItem="dataItem">
    <input
      [(ngModel)]="dataItem.id"
      kendoGridFocusable
      name="id"
      type="number"
      class="k-textbox k-input k-rounded-md"
      required
    />
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="userId" title="User Id">
  <ng-template kendoGridEditTemplate let-dataItem="dataItem">
    <input
      [(ngModel)]="dataItem.userId"
      kendoGridFocusable
      name="userId"
      type="number"
      class="k-textbox k-input k-rounded-md"
      required
    />
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="title" title="Title">
  <ng-template kendoGridEditTemplate let-dataItem="dataItem">
    <input
      [(ngModel)]="dataItem.title"
      kendoGridFocusable
      name="title"
      class="k-textbox k-input k-rounded-md"
      required
    />
  </ng-template>
</kendo-grid-column>
<kendo-grid-column field="body" title="body">
  <ng-template kendoGridEditTemplate let-dataItem="dataItem">
    <input
      [(ngModel)]="dataItem.body"
      kendoGridFocusable
      name="body"
      class="k-textbox k-input k-rounded-md"
      required
    />
  </ng-template>
</kendo-grid-column>
<kendo-grid-command-column title="command" [width]="220">
  <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
    <button kendoGridEditCommand type="button" [primary]="true" >
      Edit
    </button>
    <button kendoGridRemoveCommand type="button">Remove</button>
    <button
      kendoGridSaveCommand
      type="button"
      (click)="test(dataItem)"
    >
      {{ isNew ? "Add" : "Update" }}
    </button>
    <button kendoGridCancelCommand type="button">
      {{ isNew ? "Discard changes" : "Cancel" }}
    </button>
  </ng-template>
</kendo-grid-command-column>
</kendo-grid>
</form>