<section class="landing">
    <div class="dark-overlay">
      <div class="landing-inner">
        <h1 class="x-large">Asset Management</h1>
        <p class="lead">
          Manage Your Assets and Complete Your Work Quickly
        </p>
        <div class="buttons">
          <a [routerLink]="['/users/register']" routerLinkActive="router-link-active"   class="btn btn-primary">Sign Up</a>
          <a [routerLink]="['/users/login']" routerLinkActive="router-link-active"   class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
  </section>