.card {
    height: 130px;
    text-align: center;
}

p {
    font-size: 40px;
    cursor: pointer;
}

.col-sm-6 {
    margin-top: 25px;
}

.containerChart {
    transform: perspective(450px) rotateY(8deg) scale(0.9);
}