<section class="TableContainer">
    <div class="card">
      <h2 class="centre-text">Unassigned Asset List</h2>
      <div class="row centre-text">
        <div class="col-3">
          <div class="buttonMarj">
            <button type="submit" class="btn btn-success" (click)="assignAsset()">
              <i class="bi bi-pc-display"> Assign asset</i>
            </button>
            <button type="reset" class="btn btn-secondary" (click)="unSelectReadio()">
              <i class="bi bi-bootstrap-reboot"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <label for="search">Search</label>
          <input
            id="search"
            type="text"
            class="form-control"
            [(ngModel)]="searchText"
            placeholder="   🔍Start searching......"
          />
        </div>
        
        <div class="col-2 buttonMarj">
          <button
            [routerLink]="['/dashboard']"
            routerLinkActive="router-link-active"
            class="btn btn-warning"
          >
            <i class="bi bi-arrow-return-left"></i>
          </button>
        </div>
      </div>
  
      <br />
      <table
        class="table table-hover tableScroll mb-4"
        *ngIf="unassugnedAssets | filter : searchText as result"
      >
      <thead *ngIf="result.length != 0">
        <th>Sr No.</th>
        <th>Type</th>
        <th>Name</th>
        <th>Proprietary</th>
        <th>Configuration</th>
        <th>ServiceTag</th>
        <th>Model</th>
        <th>HostName</th>
        <th>Oem</th>
        <th>ExpiryDate</th>
        <th>Owner</th>
        <th>Remarks</th>
        <th>Ram</th>
        <th>Vendor Name</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of result; let i = index">
          <td>
            <input
              class="form-check-input"
              type="radio"
              name="a"
              value="{{ item.id }}"
              id="{{ i }}"
              [(ngModel)]="readioSelected"
              style="cursor: pointer"
            />
            <label class="custom-control-label" for="{{ i }}">
              &nbsp;{{ i + 1 }}
            </label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.tyape
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.name
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.proprietary
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.configuration
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.serviceTag
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.model
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.hostName
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.oem
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.expiryDate | date : "MM-dd-yyyy"
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.owner
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.remarks
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.ram
            }}</label>
          </td>
          <td>
            <label class="custom-control-label" for="{{ i }}">{{
              item.vendorId | vendorsName : vendors
            }}</label>
          </td>
        </tr>
        <tr *ngIf="result.length === 0">
          <td colspan="15">!!-- No Record Found --!!</td>
        </tr>
      </tbody>
      </table>
    </div>
  </section>
  