<section class="container">
  <div class="card">
    <h1>Add Asset</h1>
    <form class="form" (ngSubmit)="SubmitAsset()">
      <div class="mb-3">
        <label for="Type" class="form-label">Type of Asset</label>
        <input
          type="text"
          placeholder="type of asset"
          name="Type"
          class="form-control"
          required
          [(ngModel)]="asset.tyape"
        />
      </div>
      <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input
          type="text"
          placeholder="Name"
          name="Name"
          class="form-control"
          required
          [(ngModel)]="asset.name"
        />
      </div>
      <div class="mb-3">
        <label for="Proprietary" class="form-label">Proprietary</label>
        <input
          type="text"
          placeholder="proprietary"
          name="Proprietary"
          class="form-control"
          required
          [(ngModel)]="asset.proprietary"
        />
      </div>
      <div class="mb-3">
        <label for="configuration" class="form-label">Configuration</label>
        <input
          type="text"
          placeholder="configuration"
          name="configuration"
          class="form-control"
          required
          [(ngModel)]="asset.configuration"
        />
      </div>
      <div class="mb-3">
        <label for="serviceTag" class="form-label">Service Tag</label>
        <input
          type="text"
          placeholder="serviceTag"
          name="serviceTag"
          class="form-control"
          required
          [(ngModel)]="asset.serviceTag"
        />
      </div>
      <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <input
          type="text"
          placeholder="model"
          name="model"
          class="form-control"
          required
          [(ngModel)]="asset.model"
        />
      </div>
      <div class="mb-3">
        <label for="hostName" class="form-label">Host Name</label>
        <input
          type="text"
          placeholder="hostName"
          name="hostName"
          class="form-control"
          required
          [(ngModel)]="asset.hostName"
        />
      </div>
      <div class="mb-3">
        <label for="oem" class="form-label">OEM</label>
        <input
          type="text"
          placeholder="oem"
          name="oem"
          class="form-control"
          required
          [(ngModel)]="asset.oem"
        />
      </div>
      <div class="mb-3">
        <label for="expiryDate" class="form-label">Expiry Date</label>
        <input
          type="date"
          placeholder="expiryDate"
          name="expiryDate"
          class="form-control"
          required
          [(ngModel)]="asset.expiryDate"
        />
      </div>
      <div class="mb-3">
        <label for="owner" class="form-label">Owner</label>
        <input
          type="text"
          placeholder="owner"
          name="owner"
          class="form-control"
          required
          [(ngModel)]="asset.owner"
        />
      </div>
      <div class="mb-3">
        <label for="remarks" class="form-label">Remarks</label>
        <input
          type="text"
          placeholder="remarks"
          name="remarks"
          class="form-control"
          required
          [(ngModel)]="asset.remarks"
        />
      </div>
      <div class="mb-3">
        <label for="ram" class="form-label">Ram</label>
        <input
          type="text"
          placeholder="ram"
          name="ram"
          class="form-control"
          required
          [(ngModel)]="asset.ram"
        />
      </div>
      <div class="mb-3">
        <label for="vendorId" class="form-label">Select Vendor</label>
        <select [(ngModel)]="asset.vendorId" name="vendorId">
          <option *ngFor="let item of vendors" value="{{ item.id }}">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="centre-text mb-3" *ngIf="!updateflag; else elseBlock">
        <input
          type="submit"
          class="btn btn-primary"
          value="Submit"
        />
      </div>
      <div class="centre-text">
        <ng-template #elseBlock>
          <input
            type="submit"
            class="btn btn-success"
            value="Update"
          />
        </ng-template>
      </div>
      <div class="centre-text">
        <button
          [routerLink]="['/dashboard']"
          routerLinkActive="router-link-active"
          class="btn btn-warning"
          >Back</button
        >
      </div>
    </form>
  </div>
</section>
